<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon_io/site.webmanifest">
  <link rel="stylesheet" href="/static/style.css">
  <title>Rate Them Donuts</title>
</head>
<body>
  <div id="donut-title">
    <h1 class="donut-header">Can You Eat All Donuts?</h1>
  </div>
  <hr>
  <div>
    <h3 class="donut-header" id="donut-message">No messages yet!</h3>
  </div>
  <hr>
  <section id="donut-container">
    <ul id="donut-list">
    </ul>
  </section>
  <section id="form-container">

    <div id="form-skeleton">Loading Form</div>

  </section>

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/donuts.js"></script>
</body>
</html>